LLM_PROOVIDER=anthropic # antthropic | openai

ANTTHROPIC_API_KEY=your anthropic key will be here
ANTHROPIC_MODEL=claude-sonnet-4-6

OPENAI_API_KEY=your-openai-key-here
OPENAI_MODEL=gpt-4o

DATABASE_URL=postgresql://langchain_mcp_llm:langchain_mcp_llm_dev@localhost:5433/langchain_mcp_llm
DATABASE_URL_READONLY=postgresql://langchain_mcp_llm_reader:llm_read@localhost:5433/langchain_mcp_llm
